/* vim: set sts=4 sw=4 et : */
* {
    margin: 0;
    outline: 0;
    border: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    background: white;
    font-size: 8pt;
    color: #404040;
}

h1 {
    font-family: Georgia, serif;
    color: #000;
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
}

h2 {
    font-family: Georgia, Century Schoolbook, serif;
    color: #000;
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
}

h3 {
   /* border-bottom-style: solid;
    border-bottom-color: #444;
    border-bottom-width: 3px; 
    margin-bottom: 30px; */
    padding-bottom: 15px;
}

table {
    border-collapse:collapse;
    width: 640px;
}

td {
    border: 1px solid #bbb;
}

tr.braille {
    background-color: #f0f0f0;
    height: 80px;
    font-size: 72px;
    text-align: center;
    max-width: 640px;
}

tr.devanagari {
    font-size: 24px;
    text-align: center;
    padding: 5px;
    max-width: 600px;
}

th {
    background-color: #eee;
    padding: 10px;
    font-weight: 200;
}

td {
    padding: 10px;
    max-width: 80px;
}

#wrapper {
    background-color: white;
    max-width: 960px;
    /* With this, the wrapper resizes when inner elements overflow */
    overflow: auto;
}

#footer {
    background-color: white;
    color: #888;
    max-width: 960px;
}

#footer_content {
    padding-right: 5%;
    padding-left: 5%;
}

#content {
    padding: 7%;
    padding-top: 6em;
}

#header {
    width: 100%;
    height: 32px;
    text-align: left;
}

#header a:hover {
    text-decoration: underline;
}

#about {
    text-align: right;
    float: left;
    width: 30%;
}

#about > h1 {
}

#heading {
    text-align: left;
    float: left;
    width: 70%;
}

#heading > h1 > a {
    color: #dddddd;
    text-decoration: none;
}

#logo{
    float: left;
/*    margin-left: 20px; */
    margin-top: 10em;
}

#text {
   /* margin-left: 200px; */
    width: 650px;
    font-family: Georgia, Century Schoolbook, serif;
    font-size: 18px;
    line-height: 26px;
    float: right;
    margin-top: 6em; 
    margin-bottom: 3%;
   /* clear: both; */
}

#text a {
    color: #53a9b7; /*Blue*/
    text-decoration: none;
}

#text a:hover{
    color: #faca3f; /*Yellow*/
}

#footer a {
    color: #888;
}

#footer a:hover {
    color: #444;
}

#madeby {
    width: 100%;
    float: left;
    text-align: right;
}

/****
 * BEGIN: Hacks for the footer floating at the bottom
 ****/
#wrapper {
    min-height: 100%;
    height: 100%;
    height: auto !important;
}

#push {
    /* This should be the same as the footer height */
    padding-bottom: 2em;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 2em;
    /* This should be the negative of the footer height */
    margin-top: -2em;
}
/****
 * END: Hacks for the footer floating at the bottom
 ****/
